@font-face {
    font-family: 'Poppins';
    src: url('../font/Satoshi-Regular.ttf');
}

:root {
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;

    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(255, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(252, 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: .6rem 2rem;
    --search-padding: .6rem 1rem;
    --card-paddding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden !important;
}

a {
    color: var(--color-dark);

}

img {
    display: block;
    width: 100%;
}

/* Styles générales */
.mt-30 {
    margin-top: 90px;
}

.container {
    width: 98%;
    margin: 0 auto;
}

.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: .9rem;
}

.btn:hover {
    opacity: .8;
}

.btn-primary {
    background-color: var(--color-primary);
    color: #fff;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
}


/* NAVBAR */

nav {
    width: 100%;
    background: var(--color-white);
    padding: .7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

.search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: .9rem;
    color: var(--color-dark);
}

nav .search-bar input[type="search"]::placeholder {
    color: var(--color-gray);
}


/* Main */

main {
    position: relative;
    top: 5.4rem;
}

main .container {
    display: grid;
    grid-template-columns: 18vw auto 23vw;
    column-gap: 2rem;
    position: relative;
}

/* LEFT */
main .container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}

main .container .left .profile {
    padding: var(--card-paddding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}

/* Sidebar */
.left .sidebar {
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover {
    background: var(--color-light);
}

.left .sidebar svg {
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar .notification-count {
    background: var(--color-danger);
    color: var(--color-white);
    font-size: .5rem;
    width: fit-content;
    border-radius: .8rem;
    padding: .1rem .4rem;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
}

.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left .sidebar .active {
    background: var(--color-light);
}

.left .sidebar .active svg,
.left .sidebar .active h3 {
    color: var(--color-primary);
}

.left .sidebar .active::before {
    content: "";
    display: block;
    width: 0.5em;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active {
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar .menu-item:last-child.active {
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

/* Notification pop up */

.left .notification-popup {
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-paddding);
    box-shadow: 0 0 2rem hsla(var(--color-primary), 75%, 60% 25%);
    z-index: 10;
    display: none;
}

.left .notification-popup::before {
    content: "";
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-white);
    position: absolute;
    transform: rotate(45deg);
}

.left .notification-popup>div {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.left .notification-popup small {
    display: block;
}

/* Middle */
.middle .stories {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    gap: .5rem;
}

.middle .stories .story {
    padding: var(--card-paddding);
    border-radius: var(--card-border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: .75rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.middle .stories .story::before {
    content: "";
    display: block;
    width: 100%;
    height: 5rem;
    background: linear-gradient(transparent, rgba(0, 0, 0, .8));
    position: absolute;
    bottom: 0;
}

.middle .stories .story .name {
    z-index: 2;
}

.middle .stories .story {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;

}

.middle .story .profile-photo {
    width: 2rem;
    height: 2rem;
    align-self: start;
    border: 3px solid var(--color-primary);
}

/* Create poste */

.middle .create-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: .4rem var(--card-paddding);
    border-radius: var(--border-radius);
}

.middle .create-post input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;
}

/* Card posts */

.middle .feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-paddding);
    margin: 1rem 0;
    font-size: .85rem;
    line-height: 1.5;
}

.middle .feed .head {
    display: flex;
    justify-content: space-between;
}

.middle .feed .user {
    display: flex;
    gap: 1rem;
}

.middle .feed .photo {
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: .7rem 0;
}

.middle .feed .photo img {
    object-fit: contain !important;
    width: 100%;
    height: 300px;
}

.middle .feed .action-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: .6rem;
}

.action-button .interaction-button {
    display: flex;
    gap: .6rem;
}

.middle .liked-by {
    display: flex;
}

.middle .liked-by span {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.5rem;
}

.middle .liked-by span:first-child {
    margin: 0;
}

.middle .liked-by p {
    margin-left: .5rem;
}

/* RIGHT */

main .container .right {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;
}

.right .messages {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-paddding);
}

.right .messages .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages .search-bar {
    display: flex;
    margin-bottom: 1rem;
}

.right .messages .category {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.right .messages .category h6 {
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: .5rem;
    font-size: .85rem;
    cursor: pointer;
}

.right .messages .category .active {
    border-color: var(--color-dark);
}

.right .messages .messages-requests {
    color: var(--color-primary);
}

.right .messages .message {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: flex-start;
}

.right .message .profile-photo {
    position: relative;
    overflow: visible;
}

.right .profile-photo img {
    border-radius: 50%;
}

.right .messages .message:last-child {
    margin: 0;
}

.right .messages .message p {
    font-size: .8rem;
}

.right .messages .message .profile-photo .active {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    background: var(--color-success);
    position: absolute;
    bottom: 0;
    right: 0;
}


/* Invitations  */

.right .friend-requests {
    margin-top: 1rem;
}

.right .friend-requests h4 {
    color: var(--color-gray);
    margin: 1rem 0;
}

.right .request {
    background: var(--color-white);
    padding: var(--card-paddding);
    border-radius: var(--card-border-radius);
    margin-bottom: .7rem;
}

.right .request .info {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.right .request .action {
    display: flex;
    gap: 1rem;
}

/* Parametre */

.setting {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: .9rem;
}

.setting .card {
    background: var(--color-white);
    padding: 2rem;
    border-radius: var(--card-border-radius);
    width: 92vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 0 1rem var(--color-primary);
}

.card .close-card {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.card .close-card svg {
    cursor: pointer;
}

.setting div h4 {
    margin-bottom: .5rem;
}

.setting .card .group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .85rem;
    background: var(--color-light);
    border-radius: var(--card-border-radius);
    padding: 1rem 0;
}

.setting .card .group input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    color: var(--color-white);
    background: var(--color-primary);
    transition: all .2s ease;
}

.setting .card .group label {
    font-size: 15px;
    cursor: pointer;
    padding: .25rem .5rem;
    border-radius: var(--card-border-radius);
}


/* Small laptop and big tablet */

@media screen and (max-width:1200px) {
    .container {
        width: 98%;
    }

    main .container {
        grid-template-columns: 5rem auto 27vw;
        gap: 1rem;
    }

    .left {
        width: 5rem;
        z-index: 5;
    }

    main .container .left .profile {
        display: none;
    }

    .sidebar h3 {
        display: none;
    }

    /* Small tablets and mobiles phones */
    @media screen and (max-width: 992px) {
        .story-none {
            display: none !important;
        }

        .setting .card {
            width: 100%;
        }

        nav .search-bar {
            display: none;
        }

        main .container {
            grid-template-columns: 0 auto 5rem;
            gap: 0;
        }

        main .container .left {
            grid-column: 3/4;
            position: fixed;
            bottom: 0;
            right: 0;
        }

        /* bottom nav */
        .left .sidebar {
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 0;
            height: 4rem;
            width: 100%;
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 200;
            overflow-x: hidden !important;
        }

        .left .sidebar .menu-item {
            justify-content: center;
            width: 21%;
        }

        .left .sidebar svg {
            margin: 0;
        }

        .left .sidebar .active::before {
            display: none;
            width: 0;
            height: 0;
        }

        .left .sidebar .menu-item:first-child.active {
            border-top-left-radius: 0;
        }

        .left .sidebar .menu-item:last-child.active {
            border-bottom-left-radius: 0;
        }

        /* Notification pop up */
        .left .notification-popup {
            position: absolute;
            left: -20rem;
            width: 20rem;
        }

        .left .notification-popup::before {
            display: absolute;
            top: 1.3rem;
            left: calc(20rem -0.6rem);
            display: block;
        }

        main .container .middle {
            grid-column: 1/4;
        }

        main .container .right {
            display: none;
        }
    }
}